.controls {
    display: flex;
}
.btn {
    width: 43%;
    color: #fff;
    background-color: rgb(119, 155, 153);
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 2% 0 0 3%;
}